/*
Generates blinking on button element
in include_header.php file. Source is
the site https://www.html-seminar.de/css-blinkender-text.htm
*/
blink
{ 
    border-radius: 0.2em;
    padding: 0.2em;
    animation-name: animation_blink_5s;
    animation-timing-function: ease-in;
    animation-duration: 3s; 
    animation-iteration-count: infinite;   
    animation-fill-mode: both;
}

@keyframes animation_blink_5s
{
    0%
    {  
        background-color:lightblue;
    }
    50%
    {  
        background-color:blue;
    }
    100%
    {  
        background-color:lightblue;
    }
}